:root {

	/* Blue */
	--v-code-block-blue: #146eb4;
	--v-code-block-blue-rgb: 20, 110, 180;
	--v-code-block-blue-hsl: 206, 80%, 39%;
	--v-code-block-primary: var(--v-code-block-blue);
	--v-code-block-primary-hsl: var(--v-code-block-blue-hsl);
	--v-code-block-primary-rgb: var(--v-code-block-blue-rgb);

	/* Green */
	--v-code-block-green: #228b22;
	--v-code-block-green-rgb: 34, 139, 34;
	--v-code-block-green-hsl: 120, 61%, 34%;
	--v-code-block-success: var(--v-code-block-green);
	--v-code-block-success-hsl: var(--v-code-block-green-hsl);
	--v-code-block-success-rgb: var(--v-code-block-green-rgb);

	/* Red */
	--v-code-block-red: #b22222;
	--v-code-block-red-rgb: 178, 34, 34;
	--v-code-block-red-hsl: 0, 68%, 42%;
	--v-code-block-danger: var(--v-code-block-red);
	--v-code-block-danger-hsl: var(--v-code-block-red-hsl);
	--v-code-block-danger-rgb: var(--v-code-block-red-rgb);

	/* Typography */
	--v-code-block-font: system-ui, -apple-system, 'Segoe UI', 'Roboto',
		'Helvetica Neue', 'Arial', 'Noto Sans', 'Liberation Sans', sans-serif,
		'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
	--v-code-block-label-font: var(--v-code-block-font);
	--v-code-block-tab-font: var(--v-code-block-font);

	/* Prism Colors */

	// default //
	--v-code-block-prism-default-hsl: 24, 20%, 95%;
	--v-code-block-prism-default-icon-hsl: 0, 0%, 0%;
	--v-code-block-prism-default-icon-success-hsl: 80, 100%, 30%;
	--v-code-block-prism-default-icon-failed-hsl: 348, 68%, 58%;

	// coy //
	--v-code-block-prism-coy-hsl: 205, 59%, 50%;
	--v-code-block-prism-coy-icon-hsl: 0, 0%, 0%;
	--v-code-block-prism-coy-icon-success-hsl: 80, 100%, 30%;
	--v-code-block-prism-coy-icon-failed-hsl: 0, 64%, 48%;

	// dark //
	--v-code-block-prism-dark-hsl: 30, 20%, 25%;
	--v-code-block-prism-dark-border-hsl: 30, 20%, 40%;
	--v-code-block-prism-dark-icon-hsl: 0, 0%, 100%;
	--v-code-block-prism-dark-icon-success-hsl: 75, 70%, 60%;
	--v-code-block-prism-dark-icon-failed-hsl: 0, 100%, 50%;

	// funky //
	--v-code-block-prism-funky-hsl: 0, 0%, 80%;
	--v-code-block-prism-funky-dark-hsl: 0, 0%, 0%;
	--v-code-block-prism-funky-icon-hsl: 0, 0%, 100%;
	--v-code-block-prism-funky-icon-success-hsl: 80, 61%, 50%;
	--v-code-block-prism-funky-icon-failed-hsl: 0, 100%, 50%;

	// okaidia //
	--v-code-block-prism-okaidia-hsl: 70, 8%, 15%;
	--v-code-block-prism-okaidia-icon-hsl: 0, 0%, 100%;
	--v-code-block-prism-okaidia-icon-success-hsl: 80, 76%, 53%;
	--v-code-block-prism-okaidia-icon-failed-hsl: 338, 95%, 56%;

	// solarizedlight //
	--v-code-block-prism-solarizedlight-hsl: 44, 87%, 94%;
	--v-code-block-prism-solarizedlight-icon-hsl: 196, 13%, 45%;
	--v-code-block-prism-solarizedlight-icon-success-hsl: 68, 100%, 30%;
	--v-code-block-prism-solarizedlight-icon-failed-hsl: 18, 80%, 44%;

	// tomorrow //
	--v-code-block-prism-tomorrow-hsl: 0, 0%, 18%;
	--v-code-block-prism-tomorrow-icon-hsl: 0, 0%, 80%;
	--v-code-block-prism-tomorrow-icon-success-hsl: 143, 39%, 64%;
	--v-code-block-prism-tomorrow-icon-failed-hsl: 358, 65%, 68%;

	// twilight //
	--v-code-block-prism-twilight-hsl: 0, 0%, 8%;
	--v-code-block-prism-twilight-border-hsl: 0, 0%, 33%;
	--v-code-block-prism-twilight-icon-hsl: 0, 0%, 80%;
	--v-code-block-prism-twilight-icon-success-hsl: 76, 21%, 52%;
	--v-code-block-prism-twilight-icon-failed-hsl: 14, 58%, 55%;

	// night-owl //
	--v-code-block-prism-night-owl-hsl: 207, 95%, 8%;
	--v-code-block-prism-night-owl-icon-hsl: 217, 34%, 88%;
	--v-code-block-prism-night-owl-icon-success-hsl: 84, 62%, 63%;
	--v-code-block-prism-night-owl-icon-failed-hsl: 350, 100%, 67%;

	// neon-bunny //
	--v-code-block-prism-neon-bunny-hsl: 0, 0%, 0%;
	--v-code-block-prism-neon-bunny-text-hsl: 0, 0%, 100%;
	--v-code-block-prism-neon-bunny-icon-hsl: 207, 100%, 52%;
	--v-code-block-prism-neon-bunny-icon-success-hsl: 119, 100%, 51%;
	--v-code-block-prism-neon-bunny-icon-failed-hsl: 3, 100%, 58%;
}
